tv.devinmarch.com {
    reverse_proxy localhost:8096
}

devinmarch.com {
    root * /var/www/devinmarch
    file_server
}

www.devinmarch.com {
    redir https://devinmarch.com{uri} permanent
}

res.devinmarch.com {
    @notguest not path /r/* /ota*
    basicauth @notguest {
        devin $2a$14$kZ.lxsjP5YCaqJcvKT8vSe3Vrvjk9Gt5apxxob9PDBk/Efqx8i9iK
    }

    @ota path /ota*
    basicauth @ota {
        maxxim $2a$14$wPsW3zHhxJ9tvLdx9he26OgImK/ZTmVYja.D9nETSqnSnXVNVZKm.
        dev $2a$14$P99393Q7JU.rV4OTaKyg8O9W9U7KwyGpd5xLLCgFlheROtcE/eOaG
    }
    request_header @ota X-Remote-User {http.auth.user.id}

    reverse_proxy localhost:5000
}
